* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body{
  display: flex;
  flex-direction: column;
  padding: 10px;  
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h1{
  align-self: center;
  justify-self: center;
  text-align: center;
}
header iframe{
  display: flex;
  align-items: center;
  justify-content: center;
}
